In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import g_key
gmaps.configure(api_key=g_key)

ModuleNotFoundError: No module named 'api_key'

In [16]:
# Store Part I results into DataFrame
#Load the csv exported in Part I to a DataFrame

cities = pd.read_csv("../WeatherPy/city_data.csv", encoding="utf-8")
cities.head()

,Unnamed: 0,City,Latitude,Longititude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Slave Lake,55.28,-114.77,32.0,80,1,2.24,CA,1603231518
1,1,Homer,59.64,-151.55,42.8,70,1,6.93,US,1603231518
2,2,Albany,42.60,-73.97,63.0,79,100,4.59,US,1603231438
3,3,Narsaq,60.92,-46.05,32.0,89,40,2.82,GL,1603231353
4,4,Caravelas,-17.71,-39.25,73.6,92,91,5.46,BR,1603231566

In [17]:
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Latitude", "Longititude"]]

In [14]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))